@mixin rowStyle($width, $height, $padding) {
  width: $width;
  height: $height;
  padding: $padding;
}

@mixin columnStyle($width, $height) {
  width: $width;
  height: $height;
}

@mixin imgStyle($repeat, $size, $position:null) {
  background-repeat: $repeat;
  background-size: $size;
  background-position: $position;
}
