.bottom {
  @include rowStyle(100%, 200px, 0px);
  @extend %imgHover;
  @extend %links;
}

.left {
  @include columnStyle(100%, 100px);
  @include background-image(url("#{$path-img}/utah/utah3.jpg"));
  @include imgStyle(no-repeat, cover, top);
  color: $white;
  @media only screen and (min-width: 700px) {
    @include columnStyle(49.5%, 198px);
  }
}

.right {
  display: none;
  @media only screen and (min-width: 700px) {
    @include columnStyle(49.5%, 198px);
    @include background-image(url("#{$path-img}/utah/utah1.png"));
    @include imgStyle(no-repeat, cover, bottom);
    float: right;
    display: inline;
  }
}
