.top {
  @include rowStyle(100%, 100px, 0px);
  @extend %imgHover;
  @media only screen and (min-width: 700px) {
    margin-top: 20px;

  }
}

.col-md-4 {
  @include columnStyle(100%, 100px);
  @include background-image(url("#{$path-img}/paintedHills/painted1.jpg"));
  @include imgStyle(no-repeat, cover);
  @extend %links;
  color: $white;
  margin-right: 5px;
  h1 {
    @include margin(6px null null 6px);
  }
  @media only screen and (min-width: 700px) {
    @include columnStyle(25%, 200px);
    display: inline-block;
  }
}

.col-md-8 {
  display: none;
  @media only screen and (min-width:700px) {
    @include columnStyle(74%, 200px);
    @include background-image(url("#{$path-img}/paintedHills/painted3.jpg"));
    @include imgStyle(no-repeat, cover);
    float: right;
    display: inline;
  }
}
