#comment {
  display: none;
}

.container {
  @extend %container;
}

.img {
  display: none;
  @media only screen and (min-width: 700px) {
    @include columnStyle(100%, 100px);
  }
}

.textArea, {
  textarea {
    width: 100%;
  }
}

.btn {
  display: block;
  width: 100px;
  &:hover {
    background-color: $commentLinks;
    color: $white;
    text-transform: uppercase;
  }
}

.comment {
  margin-top: 20px;
  span {
    color: #ED6A5A;
    @extend %links;
  }
}

.postedComments {
  margin-top: 20px;
}
