nav {
  @include margin(10px 10px 0px 10px);
  @include padding(20px 50px 20px 50px);
  max-width: 960px;
  width: 95%;
  background: $navbar;
  color: $textColor;
  overflow: auto;
  text-align: center;
    span {
     font-size: 20px;
     display: block;
   }
    a {
     @extend %links;
     margin-bottom: 5px;
     padding: 10px;
     color: $links;
   }
  @media only screen and (min-width: 700px) {
    @include rowStyle(100%, 100px, 0px);
    @include padding(26px 50px 10px 50px);
    width: 95%;
    margin: auto;
    margin-top: 19px;
    span {
     font-size: 30px;
     display: inline;
   }
    a {
     font-size: 15px;
     margin-bottom: 5px;
     padding: 5px;
     color: $links;
   }
  }
}
