.wide {
  @include rowStyle(100%, 200px, 0px);
  @include background-image(url("#{$path-img}/california/cali5.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  @extend %imgHover;
  @extend %links;
}
