.three {
  @include rowStyle(100%, 250px, 0px);
  .col-md-4 {
    @include columnStyle(32.6%, 248px);
    background: maroon;
    display: block;
  }
  .last {
    margin-right: 0px;
    float: right;
  }
  .center {
    width: 33.46%;
  }
}
