.three {
  background: maroon;
  border: 1px solid lime;
  margin: 5px;
  height: 250px;
  padding: 0px;
  .col-md-4 {
    margin: 0 3px;
    width: 32.8%;
    height: 248px;
    background: white;
  }
  .left {
    margin-left: 0px;
  }
  .right {
    margin-right: 0px;
  }
}
