.wide {
  @include columnStyle(100%, 100px);
  @include rowStyle(100%, 100px, 0px);
  @extend %links;
  @include background-image(url("#{$path-img}/california/cali5.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $white;
  h1 {
    @include margin(6px null null 6px);
  }
  @media only screen and (min-width: 700px) {
    @include columnStyle(100%, 200px);

  }
}
