.top {
  @include rowStyle(100%, 300px, 0px);
  @extend %imgHover;
}

.col-md-4 {
  @include columnStyle(25%, 298px);
  margin-right: 5px;
  @include background-image(url("#{$path-img}/paintedHills/painted1.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  @extend %links;
}

.col-md-8 {
  @include columnStyle(74%, 298px);
  float: right;
  @include background-image(url("#{$path-img}/paintedHills/painted3.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
}
