.top {
  @include rowStyle(100%, 100px, 0px);
  @extend %imgHover;
}

.col-md-4 {
  @include columnStyle(100%, 100px);
  margin-right: 5px;
  @include background-image(url("#{$path-img}/paintedHills/painted1.jpg"));
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  @extend %links;
  h1 {
    margin-top: 6px;
  }
  // @media only screen and (max-width: 992px) {
  //   @include columnStyle(25%, 100px);
  // }
}

.col-md-8 {
  display: none;
  // @include columnStyle(74%, 298px);
  // float: right;
  // @include background-image(url("#{$path-img}/paintedHills/painted3.jpg"));
  // background-repeat: no-repeat;
  // background-size: cover;
  // @media only screen and (max-width:992px) {
  //   @include columnStyle(74%, 100px);
  // }
}
